
/* h1{
  background-color: yellow;
} */

.background{
  background-color: rgb(137, 137, 209);
  text-align: center;
}

.cardRobot{
  float: left;
  width: 33.33%;
  padding: 5px;
  width: 18rem ;
  margin: 10px;
  background: rgb(77, 211, 77);
}

.cardRobot { 
  transition: all .2s ease-in-out; 
  }
  
  .cardRobot:hover { 
  transform: scale(1.1); 
  }

